<!-- ===== error ===== -->
<% if todo.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(todo.errors.count, "個") %> のエラーがあります。:</h2>

  <ul>
  <% todo.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>